*{
    margin: 0;
    padding: 0;
    /* back
    ground-color: cornflowerblu; */
}
body{
    background-color: cornflowerblue;
}
h1{
    text-align: center;
    padding: 30px;
    /* background-color: cornsilk; */
}
#container{
    width:80vw;
    height: 100%;
    padding: 30px 40px;
    margin: 40px auto;
    border: 2px solid black;
    text-align: center;
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
input,button{
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}
